.Tours{
    background-color: rgb(255, 251, 247);
}
.Tour-container{
    
width: 86%;
margin:  auto;
}
.Tour-container .title{
    font-size:30px;
    font-weight: bold;
}
.Tour-container .sub-title{
    color:peru;
    font-size: 18px;
}
.hr{
    margin-left: 15px;
    width: 90px;
    border-bottom: 5px solid orangered;
    color:orangered;
}
