/* footer styles start */
.footer-container {
    background-color: rgb(1, 27, 24);
  }
  .footer-hr {
    border-bottom: 5px solid rgb(226, 194, 152);
    width: 200px;
  }
  .footer-title {
    color: rgb(238, 229, 229);
  }
  .footer-text {
    color: rgb(194, 185, 185);
  }
  .icon{
    align-items: center;
    justify-content: center;
  }
 .icon .fab {
  color: #381c0b;
  
  background-color: rgb(238, 224, 224);
  margin-top: 8px;
  margin-left: 10px;
  padding: 11px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 500;
}
 
  .footer-last-text {
    color: rgb(194, 185, 185);
    background-color: rgb(4, 37, 37);
    padding: 16px 0px;
    border-radius: 8px;
  }
  